:root {
    --primary: #b8e6b8;
    --text-primary: #FFFFFF;
    --font-sans: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    --scrollbar-width: 14px;
}